@rem: 32rem;

.overview #slides{
  > .slide{
    transform: scale3d(.3, .3, .3);
  }
}
#slides{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  > .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #eee;
    transition: transform 500ms;
    transform: translate3d(0, 0 ,0 );
    > .note{
      display: none;
    }
    > .slide-wrap{
      max-width: 900/@rem;
      text-align: center;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;
      > ul{
        li{
          opacity: 0;
          transition: opacity 500ms;
        } 
        li.build{
          opacity: 1;
        }
      }
    }
    blockquote{
      &:before , &:after{visibility: hidden;}
      border-left: 7px solid #888888;
      display: inline-block;
      min-width: 500/@rem;
      text-align: left;
      padding-left: 33/@rem;
      margin-left: 15/@rem;
      p{
        padding: 0;
      }
    }
    ul {
        margin-left: 1.2em;
        position: relative;
        list-style: disc inside;
        text-align: left;
        display: inline-block;
      li{
        line-height: 1.75em;
        list-style-position: outside;
        font-size: 29/@rem;
      }
    }
    h1{
      font-size: 56/@rem;
      margin: 24/@rem 0;
    }
    h2{
      font-size: 45/@rem;
      line-height: 48/@rem;
      margin: 24/@rem 0;
    } 
    p{
      font-size: 30/@rem;
      line-height: 34/@rem;
      text-align: left;
      letter-spacing: 1/@rem;
      margin: 0 0 16/@rem;
      padding: 0px 10px;
    }
    img{
      width: 100%;
    }
  }
  > .next{
    transform: translate3d(100%, 0, 0);
  }
  > .prev{
    transform: translate3d(-100%, 0, 0);
  }
  > .now{
    transform: translate3d(0,0,0);
    z-index: 10;
  }
}
.magic{
  > .prev{
    opacity: 0;
  }
  > .now{
    transition: opacity 500ms;
    opacity: 1;
  }
  > .next{
    opacity: 0;
  }
}