#slides{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  > .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #eee;
    transition: transform 500ms;
    transform: translate3d(0, 0 ,0 );
  }
  > .next{
    transform: translate3d(100%, 0, 0);
  }
  > .prev{
    transform: translate3d(-100%, 0, 0);
  }
  > .now{
    transform: translate3d(0,0,0);
  }
}